body {
	font-size: 14px;
	color: #333;
	background-color: #fff;
	letter-spacing: 1px;
	margin: 0;
}

.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
	z-index: 6;
}

.slides-navigation .prev,
.slides-navigation .next {
	width: 47px;
	height: 47px;
	background-size: cover;
	background-repeat: no-repeat;
}

.slides-navigation a.prev {
	left: 20px;
	background-image: url(../img/icons/prev.png);
}

.slides-navigation a.next {
	right: 20px;
	background-image: url(../img/icons/next.png);
}

.slides-pagination {
	padding-bottom: 10px;
}

.slides-pagination a {
	border-color: #57606f;
}

.slides-pagination a.current {
	background-color: #dad1d2;
}

.titleMessage {
	position: absolute;
	width: 100%;
	height: 250px;
	top: 50%;
	z-index: 5;
	text-align: center;
	margin-top: -125px;
}

.titleMessage .heading p {
	color: #fff;
	text-shadow: 0px 2px 10px rgba(0, 0, 0, 0,4);
	font-weight: 100;
	letter-spacing: 10px;
}

.titleMessage .heading .main {
	font-size: 80px;
}

.titleMessage .heading .sub {
	font-size: 30px;
}

.section {
	padding: 80px 0;
	background-color:  #f7f7f7;
}

.aboutImage {
	max-width: 100%;
}

.contactSection,
.cvSection {
	background-color: #fa8231;
	color: #f5f6fa;
	opacity: 0.9;
	padding-bottom: 40px;
	padding-top: 40px;
}

.col-md-7 {
	margin-top: 4%;
	font-size: 17px;
}

.aboutImage {
	border-radius: 10px;
	box-shadow: 7px 7px 2px grey;
	opacity: 0.93;
}

.contact {
	text-align: center;
	width: 100%;
}

.chart {
	position: relative;
	width: 152px;
	height: 152px;
	display: inline-block;
	margin-left: 25px;
	text-align: center;
}

.chart canvas {
	position: absolute;
	left: 0;
	top: 0;
}

.cvButton {
	color: #f7f7f7;
	padding: 15px 20px;
	display: inline-block;
	margin-top: 20px;
	border: 2px solid #f7f7f7;
	border-radius: 8px;
	font-size: 16px;
}

.cvButton:hover {
	text-decoration: none;
	color: #fa8231;
	background-color: #f7f7f7;
}

.filter a {
	color: #c8d6e5;
	border: 1px solid #c8d6e5;
	padding: 12px 18px;
	display: block;
}

.filter li {
	display: inline-block;
	padding: 5px;

}

.filter .current {
	background-color: #e74c3c;
	border-color: #e74c3c;
	color: #f7f7f7;
}

.filter {
	text-align: center;
	width: 100%;
}

.section .heading {
	text-align: center;
	padding-bottom: 40px;
	width: 100%;
}

.items li {
	display: inline-block;
	padding: 5px;
}

.itemsContainer {
	width: 100%;
}

.items li img {

	width: 100%;

	-webkit-transition: all 0.2s linear, 0.6s;
	-moz-transition: all 0.2s linear, 0.6s;
	-o-transition: all 0.2s linear, 0.6s;
	-ms-transition: all 0.2s linear, 0.6s;
	-transition: all 0.2s linear, 0.6s;
}

.items .item {
	position: relative;
	display: block;
	overflow: hidden;
	border-radius: 8px;
}

.items .icon {
	position: absolute;
	width: 90px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin: -20px auto 0 -47px;
	text-align: center;
	z-index: 3;
}

.items .icon i {
	color: #f7f7f7;
	font-size: 20px;
	margin-top: 9px;
}

.items a {
	border-radius: 4px;
	width: 70px;
	height: 70px;
	position: relative;
	display: inline-block;

	-webkit-transition: all 0.2s linear, 0.2s;
	-moz-transition: all 0.2s linear, 0.2s;
	-o-transition: all 0.2s linear, 0.2s;
	-ms-transition: all 0.2s linear, 0.2s;
	-transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
	width: 100%;
	height: 100%;
	margin-top: 0px;
	background-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
	border-radius: 8px;

	-webkit-transition: all 0.2s linear, 0.8s;
	-moz-transition: all 0.2s linear, 0.8s;
	-o-transition: all 0.2s linear, 0.8s;
	-ms-transition: all 0.2s linear, 0.8s;
	-transition: all 0.2s linear, 0.8s;
}

.items .item:hover .imageOverlay {
	opacity: 1;
}

.items .openButton {
	left: -200px;
}

.items .projectLink {
	right: -200px;
}

.items .item:hover .openButton {
	float: left;
	left: -25px;
}

.items .item:hover .projectLink {
	float: right;
	right: -25px;
}

.items .item:hover img {
	-webkit-transform: scale(1.05, 1.05);
	-moz-transform: scale(1.05, 1.05);
	-o-transform: scale(1.05, 1.05);
	-ms-transform: scale(1.05, 1.05);
	-transform: scale(1.05, 1.05);
}

.owl-carousel .owl-item img {
    width: 30%;
    display: inline-block;
}

.items {
	padding: 0;
	margin: 0;
    text-align: center;
  	list-style: inside;
}

.copyrightSection {
	background-color: #1e272e;
	color: #fff;
	padding: 10px 5px;
}

.copyrightSection p {
	margin: 0;
}

#navigation {
	background-color: #fa8231;
	border-bottom: 0.5px solid #fff;
	padding: 10px 30px;
	z-index: 100;
	width: 100%;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 3px;
}

#navigation li {
	padding: 0 10px;
}

#navigation li a {
	color: #fff;
}

.navbar-brand, .navbar-brand:hover {
	color: #fff;
}

.navbar-toggler-icon {
	background:  url(../img/icons/menu.png);
	background-size: 100%;
}

.fixedNav #navigation {
	position: fixed;
	top: 0;
}

.loader {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
	margin: 0;
}

.loader .inner {
	width: 100%;
	height: 100%;
	background: url(../img/loader.gif) center center no-repeat;
}

.contactImg {
	height: auto;
 	width: auto;
}


.owl-item {
	width: 180px;
}

/*mouse below*/

.scroll-downs {
  z-index: 6;
  position: absolute;
  top: 70%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width :34px;
  height: 55px;
  display: none;
  opacity: 0.8;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}